# Snowflake - Credenciales
SNOWFLAKE_ACCOUNT=tu_org-tu_cuenta
SNOWFLAKE_USER=tu_usuario
SNOWFLAKE_PASSWORD=tu_password
SNOWFLAKE_DATABASE=NYC_TLC
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_ROLE=SYSADMIN
SNOWFLAKE_SCHEMA_RAW=RAW
SNOWFLAKE_SCHEMA_ANALYTICS=ANALYTICS

# Parametros de ingesta
START_YEAR=2015
END_YEAR=2025
SERVICES=yellow,green
CHUNK_SIZE=month
RUN_ID=run_001
PARQUET_BASE_URL=https://d37ci6vzurychx.cloudfront.net/trip-data

# Flags de validacion
VALIDATE_NULLS=true
VALIDATE_RANGES=true
VALIDATE_TIMESTAMPS=true
VALIDATE_CONSISTENCY=true
